body {
  /* Positioning */
  /* Display & Box Model */
  margin:0;
  padding:0;
  /* Color */
  background-color: rgb(253, 245, 230);
  /* Text */
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 1em;
  /* Other */
}
nav {
  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  /* Display & Box Model */
  height: 2.5em;
  width: 100%;
  /* Color */
  background-color: rgb(255, 215, 0);
  /* Text */
  font-size: 0.85em;
  /* Other */
}
nav>a {
  /* Color */
  color: rgb(0, 0, 0);
  /* Text */
  font-weight: bold;
}
nav>a:hover>div>p {
  /* Color */
  color: rgb(178, 34, 34);
}
nav>a>div {
   /* Display & Box Model */
  float: left;
  padding:(0 1em);
  /* Text */
}
nav>a>div>p {
  margin: 0;
  padding-top: 0.3em;
}
nav>a>div>p>img {
  vertical-align: middle;
}
.signin {
   /* Display & Box Model */
  float: right;
  padding:(0 1em);  
  /* Text */
}
.current {
  color: rgb(178, 34, 34);
}
header
{
  /* Positioning */
  position: relative;
  /* Display & Box Model */
  margin-top: 2.5em;
  width: 100%;
  height: 2em;
  /* Text */ 
  text-align: center;
}
.img-left {
  float: left;
}
h1
{
  font-size: 0.5em;
  text-transform: uppercase;
  text-indent: -64px;
  padding-top: 1em;
}
#content
{
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1em 0;
  margin-bottom: 3em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
footer {
  /* Positioning */
  /* Display & Box Model */
  height: 2em;
  width: 100%;
  /* Color */
  background-color: rgb(255, 235, 205);
  /* Text */  
  font-size: 0.7em;
  text-align: left;
}
h2
{
  font-size:1em;
  margin-top:-1.75em;
  width:auto;
}
.headline2
{
  background-color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 5px;
}
h3
{
  font-size:1em;
  margin:0;
}
table 
{
  width:100%;
}
table.stat
{
  border:solid;
}
#request
{
  border:2px;
  border-style:solid;
  border-color:rgb(169, 169, 169);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width:100%;
}
.invite {
  /* Display & Box Model */
  height: 2em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgb(178, 34, 34);
  border-color: rgb(178, 34, 34);
  color: rgb(255, 255, 255);
}
.invite>p {
  padding-top: 0.5em;
  margin: 0;
  text-align: center; 
}
#request>.invite>p>a {
  color: rgb(255, 255, 255);
}
#request>.invite>p>a:visited {
  color: rgb(255, 255, 255);
}
#request>.invite>p>a:hover {
  color: rgb(0, 0, 0);
}
.form {
  width: 100%;
}
select, input, textarea, label {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.invis {
  display: none;
}
.hidden {
  display: none; 
}
.button .actions {
  height: 2em;
}
.postsubscript {
  font-size: 0.5em;
  font-style: italic;
  color: rgb(105, 105, 105);
}
.post {
  color: rgb(54, 54, 54);
  border:2px;
  border-style:solid;
  border-color:rgb(169, 169, 169);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 0.5em 1em;
  margin-bottom: 1em;
}
#posts
{
  padding: 0 1em;
}
.postman {

}
.normal {
  font-style: normal;
}
@media screen and (min-width: 800px) {
nav {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}
header
{
  /* Display & Box Model */
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 4em;
  /* Text */ 
}
#content
{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  border-radius: 10px;
}
footer {
  /* Positioning */
  position: fixed;
  bottom: 0;
  left: 0;  
  /* Display & Box Model */
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  /* Color */
  /* Text */  
}
#request
{
  margin:auto;
  width:50%;
}
h1
{
  font-size:1.25em;
}
.invis {
  display: inline;
}
}